* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: white;
    border-bottom: 2px solid #D7D7D7;
}
.backimg {
    width: 100%;
    height: 80%;
    background: url(../img/123.png) no-repeat center center;
    background-size: cover;
    position: absolute;
    z-index: -1;
}
main .otkritka{ 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 500px;
    margin-bottom: 30px;
    }
#mom{
    width: 850px;
}
header{

    background-color: white;

    
}
#logo{
    width: 160px;
    height: 32px;
    margin: 20px;
}
header a{
    font-family: "Roboto" sans-serif; 
    color: black;
    text-decoration: underline;
}

footer {
    border-top: 2px solid #D7D7D7;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
    position:relative ;

}
